
body {
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: large;
    background-color: #8fb9e3;
    color: #01579b;
    
}

header {
    background-color: #0288d1;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 2em 0;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #0288d1;
    color: white;
}
